.button{
  bottom: 0px;
  right: 0px;
  visibility: hidden;
}
.arrowIcon{
  width: 30px;
  height: fit-content;
}
.button.active {
  visibility: visible;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 30px;
  padding: 10px 11px;
  background-color: var(--gray);
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button:hover{
  transform: scale(1.1);
}