.exhibitionBox{
  padding: 40px 0px;
  border-bottom: 1px solid;
  width: 55rem;
}
.exhibitionInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.exhibitionInfo h1{
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 2rem;
}
.exhibitionInfo a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--black)
}
.instagramLogo{
  width: 60px;
  height: fit-content;
}
.mainFrame{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.mainFrame p{
  align-self: start;
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: var(--black);
  margin: 5px 0px 10px 0px;
}
.mainFrame img{
  width: 100%;
  min-width: 300px;
}
.mainFrame:hover p{
  text-decoration: underline;
  color: var(--black);
}
.box{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 30rem;
}
.infos{
  text-transform: uppercase;
}
.infos h1{
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 2rem;
}
.infos a{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  position: absolute;
  bottom: 5px;
  right: 0;
}
.instagramLogoMini{
  width: 33px;
  height: fit-content;
}
.miniFrame{
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 100%;
}
.miniFrame p{
  display: none;
}
.miniFrame img{
  height: inherit;
  width: fit-content;
  object-fit: contain;
}
@media(max-width: 1350px){
  .exhibitionBox{
    width: fit-content;
  }
}
@media(max-width: 950px){
  .exhibitionInfo h1{
    width: 300px;
  }
}
@media(max-width: 720px){
  .exhibitionInfo a{
    font-size: 0.8rem;
  }
  .instagramLogo{
    width: 33px;
  }
}
@media(max-width: 650px){
  .exhibitionInfo h1{
    width: 200px;
    font-size: 1.5rem;
  }
}
@media(max-width: 570px){
  .mainFrame p{
    display: none;
  }
  .exhibitionBox{
    position: relative;
    padding-bottom: 60px;
  }
  .exhibitionInfo{
    justify-content: center;
    margin-bottom: 10px;
  }
  .exhibitionInfo h1{
    width: initial;
  }
  .exhibitionInfo a{
    position: absolute;
    bottom: 25px;
    right: 0;
  }
  .miniFrame img{
    width: 300px;
    object-fit: cover;
  }
  .infos{
    text-align: center;
  }
  .infos h1{
    font-size: 1.5rem;
  }
  .infos a{
    font-size: 0.8rem;
    bottom: 15px;
  }
}