header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10em;
  background-color: var(--white);
}
.innerBox{
  display: flex;
  justify-content: space-between;
}
.innerBox a{
  color: var(--black);
}
nav{
  width: 15em;
  font-size: 1.5em;
}
.logo{
  max-width: 4.5rem;
  height: fit-content;
}
.logoBox{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8em;
  letter-spacing: 5px;
  word-spacing: -5px;
  color: var(--black);
}