header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10em;
  background-color: var(--white);
  position: relative;
}
.innerBox a{
  color: var(--black);
}
.navBox{
  width: 15em;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
.navLink{
  color: var(--black)
}
.logo{
  max-width: 4.5rem;
  height: fit-content;
}
.logoBox{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8em;
  letter-spacing: 5px;
  word-spacing: -5px;
  color: var(--black);
  text-decoration: none;
}
.menuIcon{
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menuIcon div{
  background-color: var(--black);
  width: 40px;
  height: 5px;
  border-radius: 20px;
  transition: 0.3s;
}
.menuIcon :nth-child(2){
  margin: 8px 0px;
  transition: 0.0s;
}
.closeIcon{
  margin-bottom: 20px;
}
.menuIcon.closeIcon :nth-child(1){
  transform: rotate(45deg);
  margin-top: 20px;
}
.menuIcon.closeIcon :nth-child(3){
  transform: rotate(-45deg);
  margin-top: -26px;
}
.menuIcon.closeIcon :nth-child(2){
  visibility: hidden;
}
@media (max-width: 1039px){
  .logoBox h1{
    display: none;
  }
}
@media (max-width: 615px){
  .navBox{
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    height: 90%;
  }
  .logoBox h1{
    display: unset;
    width: 120px;
  }
}
@media (max-width: 545px){
  .navBox.showNav{
    overflow: visible;
    height: 150px;
    padding: 23px;
  }
  .logoBox h1{
    display: none;
  }
  .menuIcon{
    display: unset;
    z-index: 1;
  }
  .navBox{
    position: absolute;
    overflow: hidden;
    top: 130px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 0;
    padding: 0;
    background-color: var(--white);
    border: 1px solid;
  }
}