.indexContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.indexContent div{
  margin-bottom: 40px;
}
.indexContent div:last-child{
  margin-bottom: 0;
}
.indexContent p{
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2rem;
}
.indexContent h1{
  letter-spacing: 2px;
  font-size: 1.7rem;
  border-left: 5px solid;
  padding-left: 15px;
  margin-bottom: 10px;
}
.indexMap{
  width: 100%;
  height: 200px;
}