.info{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 10px;
}
.info h1{
  font-size: 2rem;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}
.info p{
  font-size: 1.3rem;
  margin-top: 20px;
}
.mainExhibitions{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainExhibitions :last-child{
  border-bottom: none;
}
.previousExhibitions{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-flow: row wrap;
}
@media(max-width: 570px){
  .info{
    align-items: center;
    text-align: center;
  }
}
@media(max-width: 480px){
  .info h1{
    font-size: 1.7rem;
  }
}