.info{
  height: 130px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* border: 1px solid; */
}
.info h1{
  font-size: 2rem;
}
.info p{
  font-size: 1.3rem;
}
.contentBox{
  display: flex;
  justify-content: center;
}
.exhibitionBox{
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  border-bottom: 1px solid;
}
.exhibitionInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exhibitionInfo h1{
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 2rem;
}
.exhibitionInfo a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--black)
}
.instagramLogo{
  width: 60px;
  height: fit-content;
}
.mainFrame{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.mainFrame p{
  align-self: start;
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: var(--black);
  margin: 5px 0px 10px 0px;
}
.mainFrame img{
  width: 900px;
}