:root{
  --white:#FAF9F6;
  --black:#212427;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
section{
  background-color: var(--white);
}
body{
  /* background-image: url('/src/assets/img/background.png');
  background-size: contain; */
  background-color: var(--white);
}